---
import { Github, Linkedin } from 'lucide-react';

const githubUrl = "https://github.com/Villarley";
const linkedinUrl = "https://www.linkedin.com/in/santiagovillarrealarley";
---

<footer class="bg-black text-white py-4 mt-6">
  <div class="container mx-auto text-center">
    <p>&copy; {new Date().getFullYear()} Villarley. All rights reserved.</p>
    <ul class="flex justify-center space-x-4 mt-2">
      <li>
        <a href={githubUrl} target="_blank" rel="noopener noreferrer" aria-label="Github" class="transition-transform transform hover:scale-125 hover:text-gray-400">
          <Github size={24} />
        </a>
      </li>
      <li>
        <a href={linkedinUrl} target="_blank" rel="noopener noreferrer" aria-label="Linkedin" class="transition-transform transform hover:scale-125 hover:text-gray-400">
          <Linkedin size={24} />
        </a>
      </li>
    </ul>
  </div>
</footer>
